.AboutUs{
    background-color: #fff;
    position: fixed ; 
    width: 100% ; 
    height: 100%;
    top: 0 ;
    z-index: 3 ;
    overflow: scroll ;
}

.AboutUs .AboutUs-header{
    border-bottom: 1px solid #dee2e6
}

