/* AUTH  */
.auth-color-buttons{
    background-color: #679C8A ; 
}

.reg-logo-image{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding:  0.5rem;
    cursor: pointer;
}

.registration{
    background-color: #fff;
    position: fixed ; 
    width: 100% ; 
    height: 100%;
    top: 0 ;
    z-index: 3 ;
    overflow: scroll ;
}

.registration .registration-header{
    border-bottom: 1px solid #dee2e6
}

.registration .registration-form .form-inputs{
    background-color: #fff;
    padding: 20px 25px 50px;
    box-shadow: 0 32px 145px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 95%;
    margin: auto
}

.registration .registration-form .form-inputs .form-group{
    width: 70%;
    margin: auto;
}

.registration .registration-form .form-inputs .form-control{
    /* padding: 20px 16px; */
    border-radius: 8px;
    margin-bottom: .2rem;
}

.registration .registration-form .form-inputs .form-control:focus{
    box-shadow: none;
}

.registration .registration-form .form-inputs .form-control:hover,
.registration .registration-form .form-inputs .form-control:focus{
    border: 1px solid #000
}

.registration .registration-form .submitBTN{
    width: 70%;
    margin: auto;
}

.registration .registration-form .submitBTN .btn{
    background-color: #679C8A;
    color: #fff;
    padding: .5rem .75rem;
    border-radius: 0.4rem;
}

.registration .registration-form .submitBTN .btn:hover{
    background-color: #679C8A;
}

.registration .registration-form .submitBTN .btn:focus{
    box-shadow: none
}

.registration .registration-form .close-form img{
    width: 6%;
    cursor: pointer;
}

@media(max-width: 500px){
    .registration .registration-form .form-inputs{
        width: 100%;
    }
    .registration .registration-form .form-inputs .form-group{
        width: 100%;
    }
}

.registration select{
    height: auto!important;
}
