.a3lanha-footer{
    background-color:#679C8A;
}

.a3lanha-footer .nav-link:hover a{
    color: "#fff";
}
.a3lanha-footer span{
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 7px;
    display: inline-block
}

.a3lanha-footer .nav-link{
    padding: 0.2rem 0rem!important;
    display: inline;
    color: #fff
}

.a3lanha-footer .nav-link:hover{
    text-decoration: underline
}

@media(max-width: 500px){
    .a3lanha-footer div span{
        font-size: 1.5rem
    }
    .a3lanha-footer div .nav-link{
        font-size: 1.3rem
    }

}


