.tabs-text-color {
    color: #679C8A ;
}

.account-profile {
    margin-top: 2rem ;
}

.nav-item a:hover{
    color:#679C8A
}
/*  my Profile  */

.profile-img-wrapper{
    position: relative ;
    border-radius: 50% ; 
}

.profile-img {
    width: 100% ; 
    object-fit: cover ; 
    border-radius: 50% ;
    margin-bottom: 0.5rem ;
} 

.profile-stats-wrapper {
    font-size: 0.8rem ;
    border: 1px solid #eee ;
    padding: 1.5rem ;
    border-radius : 6px ; 
}


.give-border{
    border-right: 1px solid #eee ;
    border-left: 1px solid #eee ;
}

/* My Ads */
.ads-item-background{
    background-color: #cccccc80;
}


/* UPDATE PROFILE */

.update-user-image {
    width: 150px ; 
    height: 150px  ;
    border-radius: 50% ; 
    margin: 1rem ;
    object-fit: cover ;
}

.profile-uplaod-image{
    position: relative ;
    width: 30% ; 
    margin: 0px 1rem ;
}
.profile-uplaod-image input {
    opacity: 0 ;
    position: absolute ;
    width: 100% ; 
    left: 0;
}

/*  */

@media(max-width: 800px ) {
    .profile-img{
        width: 40% ; 
    }

    .align-items-on-mid-center {
        align-items: center ;
    }
}

@media(max-width:500px) {
    .profile-uplaod-image{
        width: unset ;
    }
}

.account-profile select{
    height: auto;
}
