.adDetails-title-handle{
    text-overflow: ellipsis;
    max-height: 2rem;
    overflow: hidden;
}

.ads-border {
    border-top: 1px solid #f1f1f1 ; 
}

.ad-header-buttons { 
    background-color: #f1f1f1 ;
    border-radius: 20px ;
    margin: 0px 4px ;
    font-size: 1.2rem ;
}

.ad-header-buttons i {
    font-size: 1.1rem ;
    margin: 0px 4px ;
    color :  #f1f1f1 ;
    text-shadow: 1px 0px 5px #679C8A;
} 

.ad-price {
    font-size: 1.3rem ; 
    color: red ; 
    font-weight: 600 ;
}

.ad-props-details {
    font-weight: lighter;
    color: #000;
    font-weight: 400;
}

.ad-rate {
    color: white ;
    font-size: 1.2rem ;
    text-shadow: 0px 0px 1px #000;
}

.ad-rate-yellow{
    color: yellowgreen ;
    font-size: 1.1rem ;
    text-shadow: 0px 0px 1px #000;
}

.labels-text {
    color:#7a848e ;
}

/* IMAGES */
.ad-img-wapper{
    height: 600px ; 
}

.img-all {
    width: 100% ; 
    height: 100%;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}

.ad-image-list::-webkit-scrollbar {
    width: 0.5em;
}

.ad-image-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.ad-image-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.ad-image-list {
    overflow-y: scroll ;
}

.ad-img-array{
    width: 200px ; 
    height: 200px ;
    box-shadow:2px 2px 3px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}

/* IMAGE POPUP STYLES */

.popup-wrapper{
    position: fixed ; 
    background-color: black ; 
    width: 100% ; 
    height: 100% ; 
    top : 0 ;
    z-index: 6;
    overflow: hidden;
}

.popup-header {
    position: relative;
    height: 65px;
    border-bottom: 1px solid #f1f1f1;
    color: white ;
}

.popup-header img {
    cursor: pointer;
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
}

.popup-header span {
    position: absolute ;
    left: 50% ;
    top: 15px ;
}

.popup-image-show {
    width: 100% ; 
    position: relative;
    height: 100% ;
}

.popup-image-show img {
    width: 80% ; 
    height: 98% ;
}

.popup-controls {
    position: absolute ;
    top : 40% ;
}


/*  Breadcrumb  */

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }