.image-slider {
    position: relative ; 
    width : 700px ; 
    height: 466px;  
    overflow: hidden;
    background-color: #f1f1f1 ; 
    margin: 0px 8px ;
}

.image-slider-img {
    width: 100% ; 
    height: 100% ;
    border: 1px solid #eee ;
    cursor: pointer;
}

.image-slider-control {
    position: absolute ;
    color: #f1f1f1 ; 
    font-size: 2rem ; 
    width: 100%;
    top: 50%;
    padding: 0px 8px;
    cursor: pointer;
}

.slider-control-left {
    position: absolute;
    left: 10px ;
    opacity: 0.8;
}

.slider-control-right {
    position: absolute;
    right : 10px ;
    opacity: 0.8;
}


.image-list{
    height: 466px ;
    width: 160px ; 
}

.image-list div {
    width: 150px ;
    height: 150px;
    background-color: red ; 
}


@media(max-width:800px) {
    .slider-wrapper{
        flex-direction: column ;
    }

    .image-slider {
        margin: auto ;
    }

    .image-list {
        margin: auto ;
        height: unset;
        max-width: 700px ;
        display: flex ; 
        width: 100% ;
        justify-content: space-evenly  ;
    }

    .image-list div {
        width: 32% ; 
        margin: 4px !important  ;
    }

}

@media(max-width:500px) {
    .image-slider {
        width: 300px ; 
        height: 250px ;
    }

    .image-list { display: none ; }
}
