.login{
    background-color: #fff;
    position: fixed ; 
    width: 100% ; 
    height: 100%;
    top: 0 ;
    z-index: 3 ;
    overflow: scroll ;
}

.login .login-header{
    border-bottom: 1px solid #dee2e6
}

.login .login-form .form-inputs{
    background-color: #fff;
    padding: 20px 25px 50px;
    box-shadow: 0 32px 145px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 95%;
    margin: auto
}

.login .login-form .form-inputs .form-group{
    width: 70%;
    /* padding-bottom: 1.5rem; */
    margin: auto;
}

.login .login-form .form-inputs .form-control{
    padding: 20px 16px;
    border-radius: 8px;
    margin-bottom: .2rem;
}

.login .login-form .form-inputs .form-control:focus{
    box-shadow: none;
}

.login .login-form .form-inputs .form-control:hover,
.login .login-form .form-inputs .form-control:focus{
    border: 1px solid #000
}

.login .login-form .submitBTN{
    width: 70%;
    margin: auto;
}

.login .login-form .submitBTN .btn{
    background-color: #679C8A!important;
    color: #fff;
    padding: .5rem .75rem;
    border-radius: 0.4rem;
}

.login .login-form .submitBTN .btn:hover{
    background-color: #679C8A!important;
}

.login .login-form .submitBTN .btn:focus{
    box-shadow: none
}

.login .login-form .close-form img{
    width: 6%;
    cursor: pointer;
}

.login .forgetBTN a{
    color: #679C8A;
    font-weight: 700;
}

.login .forgetBTN a:hover{
    text-decoration: none
}


@media(max-width: 500px){
    .login .login-form .form-inputs{
        width: 100%;
    }
    .login .login-form .form-inputs .form-group{
        width: 100%;
    }
}
