/* category filter nav */

.tab-border {
    border : 1px solid #e9ecef ;
    padding: 0.1rem ;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px !important;
    border-bottom: 1px solid #dee2e6 !important;
}
.tab-border .justify-content-around{
    margin: .4rem;
}
.tab-border:hover {
    background-color: #f7f7f7 ;
}

.no-tab-border:hover {
    border: unset ;
}


.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px
}


/*  */

.card-view:hover a{
    text-decoration: none;

}
.card-view{
    margin-bottom: 25px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.24);
    border-radius: 8px;
    transition: border-color .5s; 
    border: 1px solid #fff;
    position: relative;
    text-decoration: none;
}
.card-view:hover {
    border-color: rgb(128, 128, 128) ;
}

.card-view .card-view-header h5{
    font-weight: 700;
    padding: 15px 20px;
    margin-bottom: 0
}

.card-view-img{
    position: relative;
}

.card-view-img img{
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
    position: relative ; 
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
}

.card-title{
    color: #2b2d2e;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 6px ;
}

.card-country {
    color : #6f7172 ; 
    font-size: 14px ; 
    margin-bottom: 4px ; 
}

.card-location {
    color: #b6b8b9;
    font-size: 14px ; 
    margin-bottom: 4px ;
}

.card-ad-price {
    font-weight: bold;
    color: #679C8A;
    margin-bottom: 4px ;
}


.fav-icon {
    font-size: 2rem ;
    margin-top: 0.9rem ;
    color :white ;
    text-shadow: 0px 0px 1px #000 ; 
    cursor: pointer;
    position: absolute;
    top: -7px ;
    right : 12px ;
    z-index: 4 ; 
}

/* .card-view-img .fav-icon{
    position: absolute;
    top: 8px;
    right: 16px;
    color: #fff;
}

.card-view-img .fav-icon .fa{
    font-size: 25px;
} */

.card-border-bottom{
    border-bottom: 1px solid #eee ;
}

.card-view .card-view-details span{
    font-weight: 700
}



/* dropdown list */


.category-drop-list {
    display: none ; 
    position: absolute ; 
    background-color: white ;
    min-width: 250px ;
    right: 0; 
    left: 0;
    top : 50px ;
    z-index: 5 ;
    box-shadow: 0 8px 40px 0 rgba(0,0,0,.04) ;
    border-top: 1px solid #eee ;
    border-bottom-right-radius: 6px ; 
    border-bottom-left-radius: 6px ;  
}

.ads-checkmark {
    font-size: 1.3rem;
    line-height: 40px;
    color: #dddd15;
}

/*  */
a:hover{
    text-decoration: none !important;
    color: #000 !important;
}

@media(max-width: 500px){
    .card-view-details .year-details{
        width: 64%;
        font-size: 13px!important;
        padding-left: 7px;
        padding-right: 7px;
    }
    .card-view-details .price-details{
        width: 36%;
        font-size: 14px;
    }
    .card-view-details .price-details p{
        font-size: 15px!important;
        margin-top: 8px;
    }

    
}