/* LAST CONTACTS */

.last-contact-wrapper { 
    overflow-y: scroll ; 
    height: 600px ;
}

.last-contact-wrapper a > div {
    border-bottom : 1px solid #ccc ;
}

.last-contact-wrapper::-webkit-scrollbar {
    width: 0.5em;
}

.last-contact-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.last-contact-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.contact-item {
    border-bottom: 1px solid #ccc ;
}

.n-chat-image {
    width: 50px ; 
    height: 50px ; 
    border-radius: 50% ; 
}

.contact-font-size {
    font-size: 14px
}

/* CURRENT CONTACT */
.current-cnotact-wrapper {
    height: 600px ;
}

.current-chat-content {
    height: 540px ; 
    border-bottom: 1px solid #ccc ;
    background-color: #f6f6f6  ; 
    overflow-y: scroll ; 
}

.current-chat-content::-webkit-scrollbar {
    width: 0.5em;
}

.current-chat-content::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.current-chat-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.send-message-wrapper {
    height: 60px;
    background-color: #f6f6f6 ; 
}

.send-paperclip {
    font-size: 1.3rem;
    color: lightblue;
}

.send-paperclip:hover {
    color: #31a3c9;
}

.my-messages img {
    width: 45px ; 
    height: 45px ; 
    border-radius: 50% ; 
    margin: 0px 1rem ; 
}

.my-friend-messages img {
    width: 45px ; 
    height: 45px ; 
    border-radius: 50% ; 
    margin: 0px 1rem ; 
}

.my-message-body{
    max-width: 80% ;
    margin-bottom: 0.5rem ;
    background-color: lightblue;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    border-radius: 5px;
    color: white ;
}