.forgetPass{
    background-color: #fff;
    position: fixed ; 
    width: 100% ; 
    height: 100%;
    top: 0 ;
    z-index: 3 ;
    overflow: scroll ;
}

.forgetPass .forgetPass-header{
    border-bottom: 1px solid #dee2e6
}

.forgetPass .forgetPass-form .form-inputs{
    background-color: #fff;
    padding: 30px 25px 120px;
    box-shadow: 0 32px 145px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 95%;
    margin: auto
}

.forgetPass .forgetPass-form .form-inputs .form-group{
    width: 70%;
    padding-bottom: 1.2rem;
    margin: auto;
}

.forgetPass .forgetPass-form .form-inputs .form-control{
    padding: 23px 16px;
    border-radius: 8px;
}

.forgetPass .forgetPass-form .form-inputs .form-control:focus{
    box-shadow: none;
}

.forgetPass .forgetPass-form .form-inputs .form-control:hover,
.forgetPass .forgetPass-form .form-inputs .form-control:focus{
    border: 1px solid #000
}

.forgetPass .forgetPass-form .submitBTN{
    width: 70%;
    margin: auto;
}

.forgetPass .forgetPass-form .submitBTN .btn{
    background-color: #679C8A;
    color: #fff;
    padding: .5rem .75rem;
    border-radius: 0.4rem;
}

.forgetPass .forgetPass-form .submitBTN .btn:hover{
    background-color: #679c8ac7;
}

.forgetPass .forgetPass-form .submitBTN .btn:focus{
    box-shadow: none
}

.forgetPass .forgetPass-form .close-form img{
    width: 6%;
    cursor: pointer;
}

