/* First Header */
.first-header{
    background-color : #f6f7f8;
 }

.first-header a{
    color: #000;
    padding: 0 3px
}

.first-header a:hover{
    text-decoration: none;
    background-color: #fff;
    border-radius: 30%;
    transition: 0.3s;
}

.first-header-span-border {
    border: 1px solid  #eef0f1 ;
}

/* Second Header */

.logo-image {
    width: 60px;
    cursor: pointer;
    padding-top: 6px;
}

.second-header{
    border-bottom: 1px solid #dee2e6;
}

.second-header .nav-tabs{
    border-bottom: 0;
}

.second-header .nav-tabs .nav-link{
    padding-top: 12px;
    padding-bottom: 12px;
    color: #000;
    font-size: 15px;
}

.second-header .nav-tabs .addBTN{
    padding-top: 15px;
    margin-left: 8px;
}

.second-header .nav-tabs .addBTN .btn{
    border: 1px solid #679C8A;
    background-color: #679C8A!important;
    color: #fff;
    padding: 5px 25px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
}

.second-header .nav-tabs .addBTN .btn:hover{
    background-color: #679C8A!important;
    border-color: #679C8A!important
}

.second-header .nav-tabs .addBTN .btn:focus{
    box-shadow: none
}

/* .second-header  */
.nav-tabs .nav-item:hover {
    box-shadow: 0 8px 40px 0 rgba(0,0,0,.04);

    transition: 3s;
}

.second-header .nav-tabs .nav-link{
    border-top: 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.third-dropdown-parent:hover #home-body-opacity{
    transition:all ease 3s !important;
    background-color: #aaa !important;
}
.second-border-span{
    height: 16px ;
    width: 1px ;
    background: #eef0f1 ; 
    position: relative;
    top : 30px ;
}


/* .header-min-border::before{
    content :  "" ;
    height: 16px ;
    width: 1px ;
    background: #eef0f1 ; 
    position: absolute;
    top: 30px ;
    right: 0px;
} */


/* Third Header */

.third-header{
    min-height: 50px
}

.third-header .nav-tabs{
    border-bottom: 0;
    font-weight: bold ;
}

.third-header{
    border-bottom: 1px solid #dee2e6
}

.third-header .nav-tabs .nav-link{
    border-top: 0;
    border-bottom: 0;
    padding-top: 16px;
    padding-bottom: 12px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.third-header .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-bottom: 0;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: 0.3s;
}

.third-dropdown-parent {
    position: relative;
    cursor: pointer;
}

.drop-list-wow {
    display: none ; 
    position: absolute ; 
    background-color: white ;
    min-width: 250px ;
    right: 0; 
    left: 0;
    top : 50px ;
    z-index: 5 ;
    box-shadow: 0 8px 40px 0 rgba(0,0,0,.04) ;
    transition: 0.3s;
    border-top: 1px solid #eee ;
    border-bottom-right-radius: 6px ; 
    border-bottom-left-radius: 6px ;  
}

.third-header ul li:last-child .enleft,
.third-header ul li:nth-last-child(2) .enleft{
    right: 0; 
    left: auto;
}

.third-header ul li:last-child .arright,
.third-header ul li:nth-last-child(2) .arright{
    right: auto; 
    left: 0;
}

.drop-down-item {
    border-top: 1px solid #eee ;
    padding: 0px 0.5rem  ;
    font-size: 0.9rem ;
}

/* .drop-list-wow::before {
    content: "" ;
    position: fixed ;
    right: 0;
    width: 100% ;
    height: 100% ;
    background-color: #00000073 ;
    z-index: 3;
} */

.third-dropdown-parent:hover .drop-list-wow {
    display: block ;
}

.header-mobile-screen{
    display: none;
}

@media(max-width: 500px){
    .second-header .nav-link{
        padding: 0.5rem 0.3rem 
    }
    .second-header .nav-tabs{
        width: 70%;
    }
    .second-header .nav-tabs .addBTN{
        padding-top: 0px;
        padding-bottom: 15px;
        margin-left: auto;
        margin-right: 10px;
    }
    .header-mobile-screen{
        display: block
    }

    .header-mobile-screen .dropdown-toggle::after{
        margin: 0 10px;
    }
    
    .header-mobile-screen .btn{
        border: 1px solid #679C8A;
        background-color: #679C8A!important;
        color: #fff;
        padding: 5px 25px;
        border-radius: 6px;
        font-weight: 600;
        font-size: 15px;
    }
    
    .header-large-screen{
        display: none;
    }

    .header-mobile-screen .navbar-dark .navbar-nav .nav-link{
        color: #fff!important;
    }

}


