/* image header  */
/*
.carousel{
    min-height: 20rem ;
    margin-bottom: 2rem ;
}
.carousel-item img{
    width: 100% !important;
    height: 350px !important;
}
.home-img-header {
   /* background-color: green ;
     background-image: url("../../assets/images/homeHeader.jpg") ;  
    background-image: url("https://dbzstatic-a.akamaihd.net/.dist_350a00799c021cad6e991d5d7b8bf006aa49474a/images/hero-image/hero_image_5.jpg") ;
    background-repeat: no-repeat ; 
    background-size: 100% 100% ;*//*
    object-fit: cover ; 
    min-height: 20rem ;
    margin-bottom: 2rem ;
}
.carousel-caption {
    position: absolute;
    right: 8%; 
    bottom: 20px;
    left: 8%;
    z-index: 10;
    top: -18%;
    padding-top: 25px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
*/
.home-img-header {
    /* background-image: url("../../assets/images/homeHeader.jpg") ;  */
    background-repeat: no-repeat ; 
    background-size: 100% 100% ;
    object-fit: cover ; 
    min-height: 20rem ;
    margin-bottom: 2rem ;
}

.home-header-p {
    text-shadow: 0 2px 3px rgba(0,0,0,.66);
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 2rem 0px ;
    /* font-size: 1.3rem ;
    color: #fff ; 
    font-weight: 600 ;
    margin-bottom: 2rem ;
    text-align: center;  */
}

.header-search-navs {
    border : 1px solid #eee ;
    border-radius : 7px ;
    margin: 0px 2px 1rem ;
    color: white ; 
    font-weight: 600 ; 
}

/* search bar */

.home-search {
    background-color: rgba(0,0,0,0.8) ;
    border-bottom: 1px solid rgba(255,255,255,.6) ;
    border-radius: 4px ;
}
.home-search-list{
    font-size: 12px ; 
    padding: 1.4rem 1.2rem ;
    border-right: 1px solid rgba(255,255,255,.2) ;
    border-left: 1px solid rgba(255,255,255,.2)  ;
    border-bottom: 1px solid rgba(255,255,255,.2)  ;
    color: white ;
    display: flex ;
    flex-direction: column ;
    text-align: center  ;
    font-weight: 600 ;
    cursor: pointer;
    width: 7.24rem;
    padding-left: initial;
    padding-right: initial;
}
.home-search-list:hover{
    background-color: rgba(0,0,0,0.6) ;
}
.home-no-brdr {
    /*border: unset ;*/
    padding-left: inherit !important;
    padding-right: inherit !important;
    padding-top: 2.5rem !important;
}

.home-search-list img {
    width: 24px  ;
    height: 24px ; 
    object-fit: contain ;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-search-bar {
    display: flex ; 
    justify-content: space-between ;
    padding: 1rem ;
    background-color: rgba(0,0,0,0.6) ;
}

.nav-search-bar input {
    width: 100% ;
    /* height: 3rem ; */
    margin-bottom: 10px;
}
.nav-search-bar a { 
    background: #679C8A;
    padding: 8px 38px;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
    /* line-height: 17px; */
}

.nav-search-bar a:hover{
    background-color: #679c8ac7!important
}

.home-select-option {
    background-color: rgba(0,0,0,0.6) ;
    border-bottom: 1px solid rgba(255,255,255,.6);
    
}

.home-select-option .form-control{
    padding: 0rem .75rem
}

/* ends here */

.home-card {
    border: 1px solid #eef0f1 ;
    padding: unset ; 
    border-radius: 6px ;
    margin: 10px 6px ;   
    cursor: pointer;
    padding-bottom: 5px;
    max-width: 15.6%;
    flex: 0 0 15.6%
}
.home-card:hover{
    border: 1px solid #aaa ;
    animation: ease-in-out;
}
.home-card img {
    width: 100% ;
    object-fit: cover ;
    height: 110px ;
    margin-bottom: 0.5rem ;
    border-top-left-radius : 6px ; 
    border-top-right-radius : 6px ; 
}

.home-card div {
    font-size: 14px ;
    margin: 0 7px;
    font-weight: 600;
}


.home-card span {
    color :#626465 ;
    font-size: 12px ;
    margin: 0 7px;
}


.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.opacit-home{
    transition:all ease 3s !important;
    background-color: #000 !important;
    z-index: 1000;
}
.opacit-home:hover {
    opacity: 1
}
.home-round-link {
    border-radius: 20px  ;
    border: 1px solid #aaa ;
    padding: 4px 12px ;
    color: #2b2d2e ;
    font-size: 14px;
}

.home-round-link:hover {
    background-color: #aaa ;
    color: white !important ;
}

.popular .badge-primary{
    margin: 0 8px;
}

.popular .badge{
    text-transform: capitalize;
    padding: .22em .3em;
    border-radius: 8px;
    font-weight: 500
}


/* ADS */

.home-ads-img img {
    width: 100% ; 
    height: 270px ;
    object-fit: fill;
    margin: 10px;
}


@media(max-width: 500px){
    .home-card div{
        font-size: 20px;
    }
    .home-card span{
        font-size: 16px;
    }
    .home-card{
        max-width: 100%;
        flex: 0 0 100%;
        margin: 10px 0;
    }
    .home-card div, .home-card span{
        padding: 0 8px;
    }
    .home-img-header .home-search-list{
        border-right: 0;
        border-left: 0;
        width: 50%;
    }
    .serch-text{
        margin-top: 8px!important;
        width: 100%!important;
        font-size: 17px;
        padding-bottom: 8px!important;
    }
    .nav-search-bar{
        padding: 1rem 8px!important;
    }
    .nav-search-bar input{
        width: 100%!important;
        margin-bottom: 8px;
    }
    .nav-search-bar a{
        margin: auto
    }
    .shadow-search{
        padding: 1rem!important
    }
}

@media(max-width: 770px) and (min-width: 501px){
    .home-card{
        max-width: 22%;
        flex: 0 0 22%;
    }
}



