.opacity-home{
    zoom: 1;
    /* opacity: 0.7; */
	/* filter: brightness(50%); */
    transition: all ease 0.4s;
    background-color: rgba(33, 37, 41, 0.75)
}

.opacity-home img, .opacity-home .home-img-header{
    filter: brightness(25%);
}

