.pagination-list{
    list-style-type: none;
    display: flex ;
    font-size: 1.1rem ;     
    margin: auto ;
    padding: unset ;
}

.pagination-list li {
    margin: 1rem 0.25rem ;
    width: 50px ; 
    height: 50px ;
    border-radius: 50% ;
    text-align: center ;
    align-items: center ;
    display: flex ;
    justify-content: center ;
    cursor: pointer;
}

.active-bullet {
    background-color: red !important ; 
}

.pagination-list li:hover {
    background-color: #f7f7f7;
}
