.placeads{
    background-color: #fff;
    position: fixed ; 
    width: 100% ; 
    height: 100%;
    top: 0 ;
    z-index: 3 ;
    overflow: scroll ;
}
.ads-img :hover{
    cursor: pointer;
}
.placeads .placeads-header{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 70px;
}

.placeads .ads-img div{
    padding: 20px 8px 10px;
    width: 90%;
    margin: 0 auto 20px;
    border-radius: 25px;
}

.placeads .ads-img a:hover{
    text-decoration: none
}

.placeads .ads-img img{
    width: 60px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px
}

.placeads .ads-img h6{
    color: #fff;
}
