.placeAdinputs{
    background-color: #fff;
    position: fixed ; 
    width: 100% ; 
    height: 100%;
    top: 0 ;
    z-index: 3 ;
    overflow: scroll ;
    padding-bottom: 50px;
}

.placeAdinputs .placeAdinputs-header{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 70px;
}


.placeAdd-img-wrapper{
    width: 150px ; 
    height: 150px ; 
    border: 1px solid #dee2e6 ; 
    margin: 0.5rem ;
    position: relative;
}

.placeAdd-img-wrapper button {
    background-color: #dee2e6 ;
    border-radius: 10%  ; 
    position: absolute ; 
    z-index: 2 ; 
    display: flex ; 
    top: 3px ; 
    left: 2px ;
}

.placeAdd-img-wrapper img {
    width: 100% ;
    height: 100% ;
    padding : 2px ;
    /* object-fit: contain ; */
    position: absolute ;
    top : 0 ; 
    left: 0 ; 
}

.place-input-button {
    position: relative;
}
.place-input-button input { 
    width: 100% ; 
    opacity: 0 ; 
    left: 0 ;
    position: absolute ;
}

.placeAdinputs select{
    height: auto!important;
}
