.social > button{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0.24) 0px 0px 0px 0px !important;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid #aaa !important;
    font-size: 15px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    padding: 0px 6px;
    width: 80% !important;
    font-size: 17px !important;
    margin-left: 10% !important;
}
.kep-login-facebook.metro {
    border-radius: 0 !important;
    width: 80% !important;
    margin-left: 10% !important;
    height: 45px !important;
    font-size: 15px !important;
    padding: 0px 12px !important;
    font-weight: 500 !important;
    text-align: left !important;
    margin-top: 10px !important;
    font-family: Roboto, sans-serif !important;

}
.kep-login-facebook .fa {
    margin-right: calc(1.6443vw + 3.38843px) !important;
}